.m-question {
	h3 {
		text-align: center;
	}
	&-actions {
		display: flex;
		gap: 12px;
		margin: 10px 0;
		align-items: center;
		justify-content: center;
	}
	&-inputs {
		margin-top: 12px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
