.s-profile-list {
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-action {
			display: flex;
			margin-bottom: 20px;
			align-items: center;
			gap: 20px;
		}
	}
	&-items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
		gap: 20px;
		margin-top: 20px;
	}
	@media (max-width: 768px) {
		&-items {
			grid-template-columns: 1fr;
		}
		&-header {
			flex-direction: column;
			&-action {
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}
