.s-how-work {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
	&-text {
		display: flex;
		text-align: center;
		flex-direction: column;
		gap: 10px;
		h1 {
			font-size: 32px;
		}
		p {
			font-size: 18px;
		}
		max-width: 900px;
	}
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
		gap: 40px;
		width: 100%;
	}
	@media (max-width: 768px) {
		&-list {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
	}
}
