.a-exit-button {
	background-color: rgb(204, 0, 0);
	color: var(--milk);
	padding: 10px 20px;
	border-radius: 18px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	user-select: none;
	font-size: 20px;
	@media (hover: hover) {
		&:hover {
			background-color: rgb(145, 0, 0);
		}
	}
}
