.m-advantages-card {
	display: flex;
	gap: 20px;
	align-items: center;
	&-icon {
		font-size: 50px !important;
		flex-shrink: 0;
	}
	&-text {
		display: flex;
		flex-direction: column;
		gap: 10px;
		h3 {
			font-size: 24px;
		}
		p {
			font-size: 18px;
		}
	}
}
