.s-advantages {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	&-text {
		display: flex;
		text-align: center;
		flex-direction: column;
		gap: 10px;
		max-width: 900px;
	}
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
		gap: 40px;
		width: 100%;
	}
	@media (max-width: 768px) {
		&-text {
			h1 {
				font-size: 28px;
			}
			p {
				font-size: 16px;
			}
		}
		&-list {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
	}
}
