.a-menu-item {
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	display: flex;
	gap: 10px;
	svg {
		width: 20px;
		height: 20px;
	}
	@media (hover: hover) {
		&:hover {
			color: var(--dark-green-hover);
		}
	}
}
