.s-hero {
	margin-top: 30px;
	.container {
		background: linear-gradient(rgba(0, 0, 0, 0.714), rgba(0, 0, 0, 0.697)),
			url('/images/hero.webp') center/cover no-repeat;
		border-radius: 18px;
		height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		color: var(--milk);
		max-width: 600px;
		text-align: center;
	}
	@media (max-width: 768px) {
		.container {
			padding: 0 8px;
		}
	}
}
